@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{

    --Violet : hsl(257, 40%, 49%); 
    --Magenta : hsl(300, 69%, 71%); 

}




body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--Violet);
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


h1{
    font-family: 'Poppins', sans-serif;
}

header img{
    height: 45px;
    margin-left: 45px;
    margin-top: 40px;
}



section{
    display: flex;
    flex-direction: row;
}

section .item1{
    margin-left: 60px;
    margin-top: 50px;
}

section .item1 img{
    width: 550px;
}

.item2{
    color: white;
    margin-right: 150px;
    margin-left: 60px;
    margin-top: 70px;
    
}

.item2 h1 {
    font-size: 35px;
    margin-right: 20px;
}


button{
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    color: var(--Violet); 
    height: 40px;
    width: 150px;
    
}

button:hover{
    background-color: var(--Magenta);
    color: white;
    cursor: pointer;
}


footer{
    margin-top: 40px;
    padding: 10px;
}

footer .righting {
    float: right;
    display: flex;
    flex-direction: row;
}


.cadre {
    border-radius: 300px;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadre:hover{
    
    border-color: var(--Magenta);
    cursor: pointer;
}


.cadre:hover ion-icon{
    color: var(--Magenta);
}

#last{
    margin-right: 60px;
}

.cadre ion-icon{
    color: white;
    font-size: 20px;
}


/* Responsive design */

@media(max-width:875px){
    section{
        flex-direction: column;
        align-items: center;
    }

    section.item1{
        margin-top: 2px;
    }
    section .item1 img{
        width: 500px;
    }

    .item2{
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
    }

    .item2 h1{
        font-size: 28px;
        
    }

}


@media(max-width:640px){

    body{
        height: 100% ; 
    }

    header img{
        height: 35px;
    }
    section{
        flex-direction: column;
        align-items: center;
    }

    section .item1 img{
        width: 400px;
    }


    section .item2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 20px;
        text-align: center;
    }


    footer{
        margin-top: 0;
        padding-bottom: 10px;
        
    }
}
@media(max-width:375px){
    section{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    }

    header img{
        height: 28px;
    }

    section .item1{
        margin-left: 28px;
    }

    section .item1 img{
width: 300px;
    }

    .item2{
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 35px;
        text-align: center;
    }

    .item2 h1{
        font-size: 25px;
        
        margin-right: 0px;
    }

    button{
        margin-top: 20px;
        width: 200px;
    }

  #last{
    margin-right: 120px;
        
    }


    
}
    
